.inputCont {
  border: 0.1px solid #fff9;
  border-radius: 10px;
  padding: 7px;
}

.w-80 {
  width: 80vw;
}

.w-70 {
  width: 72vw;
}

.border-blue {
  border: 0.1px solid var(--blue);
}

.minput {
  background: none;
  width: 90%;
}

.minput:focus {
  outline: none;
}

.placeholder-blue::placeholder {
  color: var(--blue);
}

.placeholder-white::placeholder {
  color: #fff;
}
