.detailsCont {
  width: 90%;
  border-radius: 10px;
  margin: auto;
  margin-bottom: 10px;
  border: 1px solid #3d1df377;
}

.details {
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
}

.details * {
  margin: auto 0;
}

.arrow {
  margin: 5px;
}

.porcentaje *:first-child {
  position: relative;
  top: 44px;
  left: 23px;
}

.line {
  width: 90%;
  height: 1px;
  margin: auto;
  background-size: 1px 100%;
  background-image: linear-gradient(
    45deg,
    #3d1df377,
    #3d1df377 1px,
    transparent 1px,
    transparent 1px
  );
}
