.empty-input-cont {
  border-radius: 10px;
  padding: 10px;
}
.w-80 {
  width: 80%;
}

.w-70 {
  width: 90%;
}

.border-blue {
  border: 0.1px solid var(--blue);
}

.empty-input {
  background: none;
  width: 90%;
  border: none;
  border-bottom: 0.1px solid var(--blue);
}

.empty-input:focus {
  outline: none;
  border-bottom: 1.5px solid var(--blue);
}

.placeholder-blue::placeholder {
  color: var(--blue);
}

.placeholder-white::placeholder {
  color: #fff;
}

.quantity-container {
  width: 80%;
  border: 1px solid var(--blue);
  border-radius: 10px;
  padding: 5px;
}

.dateInput {
  width: 100px;
  background: none;
}
