.greenCont {
  max-width: 600px;
  width: 80vw;
  background: var(--lightgreen);
  border-radius: 5px;
}

.gHeader {
  padding: 12px 0;
}

.rewind {
  position: absolute;
  margin: 0px 20px;
}

.h2G {
  width: 100%;
  text-align: center;
  font-weight: 800;
}
.infoCont {
  width: 150px;
}

.dir {
  width: 100px;
  line-height: 1.2;
  font-size: 13px;
  font-weight: 500;
}

.content {
  background: #fff;
  border-radius: 5px;
}

h3 {
  font-size: 13px;
  font-weight: 400;
}

.number {
  font-weight: 500;
  font-size: 12px;
}

.cuantity {
  border: 0.5px solid #3d1df377;
  border-radius: 10px;
  padding: 3px 5px;
}

.cuantity p {
  margin: 0px 3px;
}
.product {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 0.5px solid #3d1df377;
  border-radius: 10px;
  padding: 5px 0px;
}

.btnPack {
  margin: 10px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background: var(--lightgreen);
}

.btnPack * {
  display: inline-block;
}

.addCont {
  display: flex;
  justify-content: end;
}

.productScroll {
  padding-right: 2px;
  max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 10px 0;
  padding-bottom: 10px;
  border-top: 1px solid var(--blue);
  border-bottom: 1px solid var(--blue)
  
}

.ps{
  padding-left: 10px;
  padding-right: 10px;
}