.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #00f;
  width: 80%;
  padding: .5vw 0;
  margin: 1vw auto;
}

.question p {
  width: 60%;
  display: flex;
  align-items: center;
  padding: 0px 1vw;
}
