h2 {
  margin-bottom: 3px;
  font-size: 14px;
  font-weight: 800;
}

.switchCont {
  margin: 15px;
  border-radius: 30px;
  width: 35px;
  height: 20px;
  border: 1px solid #3d1df377;
  display: flex;
}

.on-off {
  width: 50%;
  height: 90%;
  border-radius: 50%;
  margin: 1px;
  transition: 0.3s;
}

.on {
  transform: translateX(14px);
  background: var(--lightgreen);
}

.off {
  transform: translateX(1px);
  background: #f33;
}

.photo {
  margin: 15px;
}
