@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --blue: #3d1df3;
  --green: #00ea77;
  --purple: #8b5cf6;
  --lightgreen: #c7ffb1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  overflow-x: hidden;
  color: var(--blue);
  background: var(--blue);
}

.mr-5 {
  margin-right: 20px;
}

.text-center {
  text-align: center;
}

.d-none {
  display: none;
}
